* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
}

img {
    max-width: 100%;
}

h1 {
    text-align: center;
    color:rgb(79, 228, 25);
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.container {
    max-width: 1200px;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    display: flex;
}

.card {
    position: relative;
}

.details {
    position: absolute;
    bottom: 10px;
    right: 0;
    padding: 1rem;
    text-align: end;
    color: white;
}

.card > img {
    width: 1000px;
    height: 400px;
    object-fit: cover;
}

.thumbnails {
    height: 400px;
    display: flex;
    flex-direction: column;
    position: relative;

}

.thumb {
    height: calc(100% / 5);
    filter: brightness(0.5);
}

.navigator{
    display: flex;
    flex-direction: column;
    gap: 355px;
    position: absolute;
    left: 50%;
    top: 5px;
    transform: translate(-50%);
}

.prev, .next {
    background-color: rgba(231, 229, 229, 0.868);
    border-radius: 100%;
    cursor: pointer;
}

.active {
    filter: none;
    border: 3px solid rgb(79, 228, 25);
}

